.main {
    display: flex;
}

form {
    /* display: flex; */
    flex-direction: column;
    width: 200px;
    border: 1px solid black;
    padding: 20px 50px;
    margin: 50px;
}

input, button {
    margin: 10px 0;
}

.divs {
    /* position: relative;
    bottom: 0; */
}

/* .divOne, .divTwo */
.box {
    display: inline-block;
    border: 1px solid black;
    font-size: 25px;
    width: 40px;
    height: 40px;
    margin: 5px;
}

/* .divTwo */
.green {
    background-color: #90ee90;
}

p {
    margin: 0 0 10p 0;
    font-weight: bold;
}